[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "D3partitionR"]
	path = D3partitionR
	url = https://github.com/antoineguillot2/d3partitionr
